################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RadiationShielding/.vs/RadiationShielding/v16/Server/sqlite3
